---
layout: default
---
<div class="row">
  <div class="col-3">
    <img class="img-fuild" src="/assets/brothersinarms.png" alt="BrothersInArms">
  </div>
  <div class="col-9">
    <article>

      <header>
        <h1>{{ page.title | escape }}</h1>
      </header>

      <section>
        {{ content }}
      </section>

    </article>
  </div>
</div>
<hr />
<div class="row">
  <div class="card col-sm-3">
    <div class="card-body">
      <h5 class="card-title">CoD:UO Server</h5>
      <iframe frameborder="0" height="500" scrolling="no" src="https://cache.gametracker.com/components/html0/?host=brothersinarms.be:28960&amp;bgColor=333333&amp;fontColor=CCCCCC&amp;titleBgColor=222222&amp;titleColor=FF9900&amp;borderColor=555555&amp;linkColor=FFCC00&amp;borderLinkColor=222222&amp;showMap=1&amp;currentPlayersHeight=188&amp;showCurrPlayers=1&amp;showTopPlayers=0&amp;showBlogs=0&amp;width=210" width="210"></iframe>
    </div>
  </div>
  <div class="card col-sm-3">
    <div class="card-body">
      <h5 class="card-title">CS:GO Server (offline)</h5>
      <iframe frameborder="0" height="500" scrolling="no" src="https://cache.gametracker.com/components/html0/?host=brothersinarms.be:27015&amp;bgColor=333333&amp;fontColor=CCCCCC&amp;titleBgColor=222222&amp;titleColor=FF9900&amp;borderColor=555555&amp;linkColor=FFCC00&amp;borderLinkColor=222222&amp;showMap=1&amp;currentPlayersHeight=188&amp;showCurrPlayers=1&amp;showTopPlayers=0&amp;showBlogs=0&amp;width=210" width="210"></iframe>
    </div>
  </div>
  <div class="card col-sm-3">
    <div class="card-body">
      <h5 class="card-title">Discord server</h5>
      <iframe src="https://discordapp.com/widget?id=113221040921968640&theme=dark" width="210" height="500" allowtransparency="true" frameborder="0"></iframe>
    </div>
  </div>
  <div class="card col-sm-3">
    <div class="card-body">
      <h5 class="card-title">Facebook</h5>
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fbrothersinarms.no%2F&tabs=timeline&width=210&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1600681013560855" width="210" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </div>
  </div>
</div>


